*{
  text-align: center;
  color: ;
  font-family: cursive;
}
body{
  background-color: grey;
  
}
button{
  background-color: red;
  color: blue;
  box-shadow: 0 30px 40px rgba(255,0,0,.1);
}
button:hover{
  background-color: blue;
  color: red;
  box-shadow: 0 30px 40px rgba(0,0,255,.1);
}
